/* flight-search.component.scss */
@use "../../../../../../shared/src/infrastructure/ui/styles/variables.scss" as
  variables;
@use "../../../../../../shared/src/infrastructure/ui/styles/mixins.scss" as
  mixins;

.flight-search {
  &__form {
    background-color: variables.$white;
    border-radius: variables.$border-radius;
    box-shadow: 0 15px 20px variables.$shadow-color;
    width: 70dvw;
    margin: 0 auto;
    @include mixins.typography-base;
  }

  &--error {
    color: variables.$red;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    margin-top: 5px;
  }
}

@media (760px <= width <= 1400px) {
  .flight-search__form {
    width: 90dvw;
  }
}