@use "../../../../../../shared/src/infrastructure/ui/styles/variables" as
  variables;
@use "../../../../../../shared/src/infrastructure/ui/styles/mixins" as mixins;

.header {
  &__nav {
    background-color: variables.$blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding-inline: 20px;
    font-family: variables.$primary-font;
    gap: auto;
    height: 100%;
    border-bottom: 1px solid rgb(108, 108, 108);

    &-container {
      display: flex;
      gap: 1.6rem;
    }

    &-menu {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 1.6rem;

      &-link {
        color: variables.$white;
        text-decoration: none;
        font-size: 1.6rem;
        padding-block: 13px;
        padding-inline: 20px;
        @include mixins.button-base;
        font-size: 1.6rem;
        border-radius: 50px;

        border: 2px solid transparent;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
        &:active {
          border: variables.$white 2px solid;
        }
      }
    }

    &-user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      padding-right: 2rem;

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgb(184, 184, 184);
        height: 100%;
        gap: 1.6rem;
        padding-right: 2rem;
      }

      &-button {
        display: flex;
        align-items: center;
        background-color: rgb(14, 104, 255);
        color: variables.$white;
        @include mixins.button-base;
        border-radius: 50px;
        border: none;
        letter-spacing: 1px;
        border: 2px solid transparent;

        &:hover {
          background-color: rgb(0, 26, 102);
        }

        &:active {
          border: 2px solid variables.$white;
        }
      }

      &-language {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        color: variables.$white;
        font-size: variables.$font-size-label;
        padding: variables.$spacing-xs;
        border-radius: 50px;

        &:hover {
          cursor: pointer;
          background-color: variables.$white;
        }
        &:active {
          outline: 1px solid variables.$white;
          outline-offset: 2px;
        }
      }

      &-login {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        color: variables.$white;
        font-size: variables.$font-size-label;
        padding: variables.$spacing-xs;
        border-radius: 50px;
        width: 150px;
        border: 1px solid variables.$white;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          background-color: variables.$white;
          color: variables.$blue;
        }

        &:active {
          outline: 1px solid variables.$white;
          outline-offset: 2px;
        }

        svg {
          width: variables.$icon-size-large;
        }
      }
    }
  }
}