@use '../../styles/variables.scss' as variables;

.button {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    font-family: variables.$font-size-title-secondary;
    &--primary {
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 4px;
      font-size: 19px;
      transition: opacity 0.2s;
      cursor: pointer;
      background: #00c85387;
      font-weight: variables.$font-weight-regular;
      
      &:hover {
        background-color: #45a049;
      }
    }
    
    &--secondary {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 19px;
    transition: opacity 0.2s;
    cursor: pointer;
    background: #00c85387;
    background-color: #ff3c009e;
      &:hover {
        background-color: #e01d1d;
      }
    }

    &--tertiary{
      background-color: variables.$blue-dark;
      color: variables.$white;
      padding: 10px 10px;
      width: 150px;
      font-size: 1.5rem;
      border-radius: 5px;
      border: none;
      margin-right: 5%;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: variables.$blue;
      }
    }

    &--noText{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      border: none;
      left: 100%;
      background-color: transparent;
      cursor: pointer;
    }
    

    
  }