<lib-button-modal [text]="actionText()" (onClick)="toggle()" [variant]="variant()">
  <ng-content select="[buttonTable]">

  </ng-content>
</lib-button-modal>

<dialog class="modal" [ngClass]="{ 'modal--visible': visible }">
  <div class="modal__content" [hidden]="!visible">
    <div class="modal__header">
      @if (title()) {
      <h2 class="modal__title">{{ title() }}</h2>
      }
    </div>

    <div class="modal__body">
      <ng-content ></ng-content>
      <ng-content select="[form-body]">

      </ng-content>
    </div>

    <div class="modal__footer">
      <lib-button-modal
        [text]="cancelText()"
        (onClick)="cancel()"
        [variant]="'secondary'"
      ></lib-button-modal>
      <lib-button-modal
        [text]="confirmText()"
        (onClick)="confirm()"
        [variant]="'primary'"
      ></lib-button-modal>
    </div>

    <!-- <i class="modal__close" aria-hidden="true" (click)="toggle()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 6l-12 12" />
        <path d="M6 6l12 12" />
      </svg>
    </i> -->
  </div>
</dialog>
